html{
    margin: 0;
}

body{
    background: rgb(56, 55, 55); ;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

.site-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(143, 17, 17);
}

.nav .navegacion ul {
    display: flex;
    margin: 3rem;
    margin: 2rem;
    
}

.nav .navegacion ul a{
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255) ;
    text-decoration: none;
    list-style:none;
    font-size: 1.2rem;
    padding: 1.5rem;
}

.nav .navegacion ul a:hover {
    border-bottom:  rgb(255, 255, 255) 0.2rem solid ;
    padding: 1.3rem;
  }

.contenedor h1{
   
    margin: 0rem;
}

.contenedor{
    background:  rgb(143, 17, 17);
    display: flex;
    margin: 0.5rem;
    color: rgb(255, 255, 255) ;
    font-size: 3.2rem;
    padding-left: 4rem;
}

.triangulo {
    margin-top: 1.3rem;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 75px solid rgb(255, 255, 255);
    position: relative;
    
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
  
  @keyframes example {
    0%   { 
    transform: rotate(0deg);  
    right:0px; top:0px;
    }
    25%  {    
       
        right:80px; top:0px;
   }
    50%{
        right:0px; top:0px;
        transform: rotate(360deg)
    }
    
  }

  .triangulo2 {
    margin-top: 1.3rem;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 75px solid rgb(255, 255, 255);
    position: relative;
    
    animation-name: example2;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes example2 {
    0%   { 
        transform: rotate(0deg);  
    left:0px; top:0px;
    }
    25%  {    
       
        left:80px; top:0px;
   }
    50%{
        left:0px; top:0px;
        transform: rotate(-360deg)
    }
    
  }
.car{
    display: flex;
    padding: 0rem;
   
    
}
 
.car img{
    height: 45rem;
    margin: 0rem;
}

.seccion1{
    height: 45rem;
    background-color: rgb(56, 55, 55);
}

marquee{
    margin: 0rem;
    height: 45rem;
}

.triangulo3 {
    margin-top: 1.5rem;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 28px solid rgb(255, 255, 255);
    position: relative;
    
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.triangulo4 {
    margin-top: 1.5rem;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 28px solid rgb(255, 255, 255);
    position: relative;
    
    animation-name: example2;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

.contenedor2{
    background:  rgb(56, 55, 55);
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    color: rgb(255, 255, 255) ;
    font-size: 3.2rem;
    padding-left: 4rem;
}

.contenedor2  h1{
    display: flex;
    font-size: 2.4rem;
    margin-top: 1rem;
    
}



.beneficios{
    color:rgb(255, 255, 255) ; 
    margin: 2rem;
    font-size: 1.5rem;
    padding-left: 5rem;
}

.beneficios h4{
    margin-left: 2.6rem;
    font-size: 2.4rem;
}

.beneficios ul li{
    list-style:none;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    
}

.beneficios .lista ul li:nth-child(2){
   margin-top: 3rem;
  }

  .beneficios .lista ul li:nth-child(3){
    margin-top: 2.8rem;
   }

   .beneficios .lista ul li:nth-child(4){
    margin-top: 2.6rem;
   }

.triangulo5 {
    width: 0; 
    height: 0; 
    border-left: 40px solid rgb(255, 255, 255);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent; 
}

.tesla-information{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(250, 234, 208);
}
.tesla-information .information{
    margin: 1rem;
    margin-top: 10rem;
    font-size: 1.2rem;
    color: #000000;
    
}

.lista{
    display: flex;
}

.bor1{
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:  rgb(255, 255, 255);
    border: 3px solid rgb(56, 55, 55);
    transform: translate(2.4rem, -3rem);
   
}

.bor2{
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:  rgb(255, 255, 255);
    border: 3px solid rgb(56, 55, 55);
    transform: translate(17rem, -7.6rem);
}

.trapecio {
    width: 330px;
    height: 0px;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 80px solid  rgb(255, 255, 255);
}

.triangulo6{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 45px solid transparent;
    border-left: 110px solid transparent;
    border-bottom: 45px solid rgb(56, 55, 55);
    transform: translate(4rem, 9rem);
}

.triangulo7{
    width: 0;
    height: 0;
    border-right: 220px solid transparent;
    border-top: 80px solid transparent;
    border-left: 170px solid transparent;
    border-bottom: 80px solid  rgb(255, 255, 255);
}

.auto1{
    transform: translate(20rem, -10rem);
    animation-name: pulse;
   
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
 
}


@keyframes pulse {
    0%   {transform: translate(20rem, -10rem);}
  25%  {transform: translate(40rem, -10rem);}
  50%  {transform: translate(0rem, -10rem);}
  100%{transform: translate(20rem, -10rem);}
 
    
  }

.site-footer {
    background-color: rgb(56, 55, 55);
    padding: 2rem;
}

.copyrigth{
    margin: 0rem;
    text-align: center;
    color: aliceblue;
}
.site-footer .nav .navegacion{
  display: flex;
  justify-content: center;
}